<h1>Novo Papel</h1>

<?php
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');
$form->setAttribute('action', $this->url('roles', ['action' => 'add']));
$form->prepare();
$role = $form->get('role');
$pai = $form->get('resources');


echo $this->form()->openTag($form);
?>

<?php $message = $this->formElementErrors($role, ['class' => 'help-block']); ?>
<div class="form-group<?= $message ? " has-error" : "" ?>">
    <?= $this->formLabel($role); ?>
    <?= $this->formElement($role); ?>
    <?= $message ?>
</div>

<?php $message = $this->formElementErrors($pai, ['class' => 'help-block']); ?>
<div class="form-group<?= $message ? " has-error" : "" ?>">
    <?= $this->formLabel($pai); ?>
    <?= $this->formElement($pai); ?>
    <?= $message ?>
</div>



<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();
?>