<?php $this->headTitle("Usuários/Funções"); ?>

<h1>Funções de Usuários</h1>

<p>

</p>

<a href="<?=$this->url('roles', ['action'=>'add']);?>">
    Novo
</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Função</th>
        <th>Ações</th>
    </tr>
    <?php foreach ($posts as $post): ?>
        <tr>
            <td><?= $this->escapeHtml($post->getId()); ?></td>
            <td>
                <?= $this->escapeHtml($post->getRole()); ?>
            </td>
            <td>
                <a href="<?=$this->url('roles', ['action'=>'edit', 'id'=>$post->id] );?>">
                    Edit
                </a>
                <a href="<?=$this->url('roles', ['action'=>'delete', 'id'=>$post->id] );?>">
                    Delete
                </a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>