<?php $this->headTitle("Usuários-Adicionar"); ?>

<?php
$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');
$form->setAttribute('action', $this->url('usuarios', ['action' => 'add']));
$form->prepare();
$username = $form->get('username');
$email = $form->get('email');
$senha = $form->get('password');
$vSenha = $form->get('passwordVerify');
$displayname = $form->get('displayname');
$role = $form->get('role');


echo $this->form()->openTag($form);
?>
<!-- Page Title Area -->
<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Dados do Usuário</h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->url('painel'); ?>">Painel</a>
            </li>
            <li class="breadcrumb-item"><a href="<?= $this->url('usuarios'); ?>">Usuários</a></li>
            <li class="breadcrumb-item">Dados do Usuário</li>
        </ol>        
    </div>
    <!-- /.page-title-right -->
</div>
<!-- /.page-title -->
<div class="widget-list">
    <div class="row">
        <div class="col-md-6 widget-holder">
            <div class="widget-bg">
                <div class="widget-body">     
                    <?php $message = $this->formElementErrors($username, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($username); ?>
                        <?= $this->formElement($username); ?>
                        <?= $message ?>
                    </div>
                    <?php $message = $this->formElementErrors($email, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($email); ?>
                        <?= $this->formElement($email); ?>
                        <?= $message ?>
                    </div>

                    <?php $message = $this->formElementErrors($senha, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($senha); ?>
                        <?= $this->formElement($senha); ?>
                        <?= $message ?>
                    </div>
                    <?php $message = $this->formElementErrors($vSenha, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($vSenha); ?>
                        <?= $this->formElement($vSenha); ?>
                        <?= $message ?>
                    </div>

                    <?php $message = $this->formElementErrors($displayname, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($displayname); ?>
                        <?= $this->formElement($displayname); ?>
                        <?= $message ?>
                    </div>
                    <?php $message = $this->formElementErrors($role, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($role); ?>
                        <?= $this->formElement($role); ?>
                        <?= $message ?>
                    </div>

                    <div class="form-actions btn-list mt-4">
                        <?php
                        echo $this->formSubmit($submit);
                        ?>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<?php
                    echo $this->formHidden($form->get('id'));
                    echo $this->form()->closeTag();
                    ?>