<?php $this->headTitle("Usuários"); ?>
<!-- Page Title Area -->
<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Usuários</h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->url('painel'); ?>">Painel</a>
            </li>
            <li class="breadcrumb-item">Usuários</li>
        </ol>        
    </div>
    <!-- /.page-title-right -->
</div>
<!-- /.page-title -->


<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-body">  
                    <div class="toolbar"><a href="<?= $this->url('usuarios',['action'=>'add']); ?>" class="btn btn-primary btn-sm ripple"><i class="feather feather-plus list-icon"></i> Adicionar Usuário</a></div>
                    <table id="usuarios" class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($posts as $post): ?>
                                <tr>
                                    <td><?= $this->escapeHtml($post->displayname); ?></td>
                                    <td>
                                        <?= $this->escapeHtml($post->email); ?>
                                    </td>
                                    <td>
                                        <a href="<?= $this->url('usuarios', ['action' => 'edit', 'id' => $post->id]); ?>">
                                            <i class="feather feather-edit"></i>
                                        </a>
                                        
                                        <a href="<?= $this->url('usuarios', ['action' => 'delete', 'id' => $post->id]); ?>">
                                            <i class="feather feather-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
