<!-- Page Title Area -->
<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Editar Permissão</h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Painel</a>
            </li>
            <li class="breadcrumb-item">Usuários</li>
            <li class="breadcrumb-item active">Permissões</li>
        </ol>        
    </div>
    <!-- /.page-title-right -->
</div>
<!-- /.page-title -->
<div class="widget-list">
    <div class="row">
        <div class="col-md-6 widget-holder">
            <div class="widget-bg">
                <div class="widget-body">

                    <?php
                    $submit = $form->get('submit');
                    $submit->setAttribute('class', 'btn btn-primary');
                    $form->setAttribute('action', $this->url('resources', ['action' => 'edit', 'id' => $id]));
                    $form->prepare();
                    $resource = $form->get('resource');

                    echo $this->form()->openTag($form);
                    ?>

                    <?php $message = $this->formElementErrors($resource, ['class' => 'help-block']); ?>
                    <div class="form-group<?= $message ? " has-error" : "" ?>">
                        <?= $this->formLabel($resource); ?>
                        <?= $this->formElement($resource); ?>
                        <?= $message ?>
                    </div>

                    <?php
                    echo $this->formSubmit($submit);
                    echo $this->formHidden($form->get('id'));
                    echo $this->form()->closeTag();
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>