<?php $this->headTitle("Usuários/Funções"); ?>
<!-- Page Title Area -->
<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Permissões de Usuário</h6>
    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Painel</a>
            </li>
            <li class="breadcrumb-item">Usuários</li>
            <li class="breadcrumb-item active">Permissões</li>
        </ol>        
    </div>
    <!-- /.page-title-right -->
</div>
<!-- /.page-title -->

<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-body">
                    <a href="<?= $this->url('resources', ['action' => 'add']); ?>" class="btn btn-primary btn-sm ripple">
                        <i class="feather feather-plus list-icon"></i> Nova Permissão
                    </a>
                    <p></p>
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Permissões</th>
                            <th>Ações</th>
                        </tr>
                        <?php foreach ($posts as $post): ?>
                            <tr>
                                <td><?= $this->escapeHtml($post->getId()); ?></td>
                                <td>
                                    <?= $this->escapeHtml($post->getResource()); ?>
                                </td>
                                <td>
                                    <a href="<?= $this->url('resources', ['action' => 'edit', 'id' => $post->id]); ?>" class="btn btn-info btn-xs">
                                        Editar
                                    </a>
                                    <a href="<?= $this->url('resources', ['action' => 'delete', 'id' => $post->id]); ?>" class="btn btn-danger btn-xs">
                                        Excluir
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>